<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title">Javier Magariño<span></span>
                        </h5>
                        <p>Currículum vitae Angular 11, Bootstrap, Teradata Covalent, Material
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Quick Links<span></span>
                        </h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content">
                                    <a class="nav-link active" aria-current="page" href="#" routerLink="/perfil">
                                        <svg
                                            width="1em"
                                            height="1em"
                                            viewBox="0 0 16 16"
                                            class="bi bi-person-fill"
                                            fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                fill-rule="evenodd"
                                                d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                        </svg>
                                        Perfil</a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb-content">
                                    <a class="nav-link" href="#" routerLink="/estudios">
                                        <svg
                                            width="1em"
                                            height="1em"
                                            viewBox="0 0 16 16"
                                            class="bi bi-easel"
                                            fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M8.473.337a.5.5 0 0 0-.946 0L6.954 2h2.092L8.473.337zM12.15 11h-1.058l1.435 4.163a.5.5 0 0 0 .946-.326L12.15 11zM8.5 11h-1v2.5a.5.5 0 0 0 1 0V11zm-3.592 0H3.85l-1.323 3.837a.5.5 0 1 0 .946.326L4.908 11z"/>
                                            <path
                                                fill-rule="evenodd"
                                                d="M14 3H2v7h12V3zM2 2a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                                        </svg>
                                        Estudios</a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb-content">
                                    <a class="nav-link" href="#" routerLink="/experiencia">
                                        <svg
                                            width="1em"
                                            height="1em"
                                            viewBox="0 0 16 16"
                                            class="bi bi-briefcase"
                                            fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                fill-rule="evenodd"
                                                d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-6h-1v6a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-6H0v6z"/>
                                            <path
                                                fill-rule="evenodd"
                                                d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5v2.384l-7.614 2.03a1.5 1.5 0 0 1-.772 0L0 6.884V4.5zM1.5 4a.5.5 0 0 0-.5.5v1.616l6.871 1.832a.5.5 0 0 0 .258 0L15 6.116V4.5a.5.5 0 0 0-.5-.5h-13zM5 2.5A1.5 1.5 0 0 1 6.5 1h3A1.5 1.5 0 0 1 11 2.5V3h-1v-.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V3H5v-.5z"/>
                                        </svg>
                                        Experiencia</a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb-content">
                                    <a
                                        class="nav-link"
                                        href="#"
                                        tabindex="-1"
                                        aria-disabled="true"
                                        routerLink="/conocimientos">
                                        <svg
                                            width="1em"
                                            height="1em"
                                            viewBox="0 0 16 16"
                                            class="bi bi-book"
                                            fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                fill-rule="evenodd"
                                                d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                        </svg>
                                        Conocimientos</a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb-content">
                                    <a
                                        class="nav-link"
                                        href="#"
                                        tabindex="-1"
                                        aria-disabled="true"
                                        routerLink="/proyectos">
                                        <svg
                                            width="1em"
                                            height="1em"
                                            viewBox="0 0 16 16"
                                            class="bi bi-collection"
                                            fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                fill-rule="evenodd"
                                                d="M14.5 13.5h-13A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5zm-13 1A1.5 1.5 0 0 1 0 13V6a1.5 1.5 0 0 1 1.5-1.5h13A1.5 1.5 0 0 1 16 6v7a1.5 1.5 0 0 1-1.5 1.5h-13zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
                                        </svg>
                                        Porfolio</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Pagina de error<span></span>
                        </h5>
                        <p>En caso de no encontar la ruta, aparecerá error 404.</p>
                        <a class="btn" href="**" target="_blank">Probar ahora</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">

                    <div class="widget no-box">
                        <h5 class="widget-title">Contacto<span></span>
                        </h5>

                        <ul class="social-footer2">
                            <li class="">
                                <a
                                    title="linkedin"
                                    target="_blank"
                                    href="https://www.linkedin.com/in/javier-magari%C3%B1o/">
                                    <img
                                        alt="linkedin"
                                        width="30"
                                        height="30"
                                        src="assets/imagenes/SVG/linked-in.svg"></a>
                                </li>

                            </ul>
                            <br>
                                <ul class="social-footer2">
                                    <li class="">
                                        <img
                                            alt="telegram"
                                            width="30"
                                            height="30"
                                            src="assets/imagenes/SVG/telegram.svg">
                                            </li>

                                    </ul>
                                    <br>

                                        <ul class="social-footer2">
                                            <li class="">
                                                <img alt="telegram" width="30" height="30" src="assets/imagenes/SVG/phone.svg">
                                                    </li>

                                            </ul>
                                            <br>
                                            <p>
                                                <a href="mailto:info@domain.com" title="glorythemes">dev.javier@protonmail.com</a>
                                            </p>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="footer-copyright">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <p>Copyright @FJMaga © 2020. All rights reserved.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
